.main-container {
    display: flex;
    z-index: 1000;
}

.content-container {
    width: 88%;
    background-color: white;
    border-radius: 12px;
    height: 100vh;
}

.heading-container {
    /* background-color: #f9d7d7; */
    border-bottom: 1px solid #cdcccc;
    padding: 22px 0px;
    border-radius: 0px;
    display: flex;
}

.big-heading {
    /* border: 1px solid red; */
    width: 14rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: bolder;
}

.navbar-toggler {
    visibility: hidden;
}

.divider {
    /* border-top: 3px dotted #ccc; */
    margin: auto 0px;
    height: 62%;
}

.small-heading {
    /* border: 1px solid red; */
    /* width: 14rem; */
    margin-left: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 19px;
    font-weight: bold;
    color: skyblue;
    border-bottom: 2px solid skyblue;
}


@media (max-width: 500px) {
    .heading-container {
        flex-direction: column;
    }

    .navbar-toggler {
        visibility: visible;
        background-color: #c7fbf4;
        padding: 17px;
        border-radius: 50%;
        font-size: 26px !important;
        margin-right: 13px;
    }

    .divider {
        visibility: hidden;
    }

    .content-container {
        width: 130%;
    }

    .big-heading {
        width: 46%;
        margin: 10px 0;
    }
    .small-heading{
        width: 37%;
    padding: 21px;
    }
    .assessment-overview-heading{
        display: none;
    }
}